/**
 * Fonts
 *
 * @since 1.0.0
 */

//  $pre-font-load-font-family: sans-serif;
//  $heading-font-family: sans-serif;
//  $primary-font-family: sans-serif;
//  $secondary-font-family: serif;

$pre-font-load-font-family: "Roboto", sans-serif;
$heading-font-family: "Roboto", sans-serif;
$primary-font-family: "Roboto", sans-serif;
$secondary-font-family: serif;
