.c-graveyard-item {
  $root: &;

  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  height: auto;

  &__content-container {
    @include transition();

    @include breakpoint(small) {
      padding: 2rem 2rem 1rem 2rem;
    }
  }

  &__button-container {
    @include transition();
    background-color: $white;
    width: calc(100% + 2px);
    margin: auto -1px -1px;
  }

  &__subtitle {
    @include transition();
    color: $white;
    font-size: rem-calc(24);
    font-weight: 500;
    margin-bottom: 0.75rem;
    text-align: center;
    font-style: italic;

    @include breakpoint(small only) {
      font-size: rem-calc(20);
    }
  }

  &__title {
    @include transition();
    color: $white;
    font-size: rem-calc(24);
    font-weight: 700;
    margin-bottom: 0.75rem;
    text-align: center;

    @include breakpoint(small only) {
      font-size: rem-calc(24);
    }

    &--big {
      @include transition();
      color: $white;
      font-size: rem-calc(34);
      font-weight: 700;
      margin-bottom: 0.75rem;
      text-align: center;

      @include breakpoint(small only) {
        font-size: rem-calc(34);
      }
    }

    &--round {
      margin: 0 auto;
      border-radius: 50%;
      width: 65px;
      height: 65px;
      line-height: 65px;
      font-size: 25px;
      font-weight: bold;
      border: 3px solid $white;
    }
  }

  &__description {
    @include transition();
    color: $white;
    font-size: rem-calc(14);
    font-weight: 500;
    line-height: 1.2;
    margin-bottom: 1rem;
    text-align: center;

    &--black {
      @include transition();
      color: $black;
      font-size: rem-calc(14);
      font-weight: 500;
      line-height: 1.2;
      margin-bottom: 1rem;
      text-align: center;
    }
  }

  &__show-more-container {
    @include transition();
    margin-top: 2rem;
    div {
      text-align: left;
    }
  }

  .c-button {
    margin-top: 1rem;
    font-weight: 400;
  }

  &__icon {
    margin-left: 0.5rem;
    margin-top: 0.3rem;

    &--check {
      margin-top: 0rem;
    }

    &--cross {
      margin-left: 2px;
      width: 0.85rem;
      height: 0.85rem;
      margin-bottom: 0.15rem;
    }
  }
}
