.c-graveyard-sort {
  $root: &;
  margin-bottom: 3rem;

  @include breakpoint(small only) {
    margin-bottom: 2rem;
  }

  &__dropdown-title {
    @include transition();
    color: $black;
    font-size: rem-calc(16);
    fill: $primary-color;
    font-weight: 400;
    cursor: pointer;
    padding: 1rem 1.5rem;
    background: $light-gray;
    width: fit-content;

    @include breakpoint(small only) {
      justify-content: space-between;
    }

    &.active {
      color: $white;
      fill: $white;
      background: $primary-color;

      #{$root}__chevron {
        transform: rotate(180deg);
      }
    }
  }

  &__dropdown {
    position: relative;
    width: 11rem;

    @include breakpoint(small only) {
      margin-right: 0;
      width: 100%;
    }

    &:last-child {
      margin-right: 0;
    }

    &.active {
      @include breakpoint(medium) {
        #{$root}__dropdown-title {
          color: $white;
          fill: $white;
          background: $primary-color;
        }

        #{$root}__container {
          display: block;
          padding: 2.5rem 1.25rem;
          opacity: 1;
        }

        #{$root}__chevron {
          transform: rotate(180deg);
        }
      }
    }
  }

  &__container {
    transition: opacity 0.3s;
    overflow: hidden;
    pointer-events: none;
    position: relative;
    z-index: 3;
    opacity: 0;
    min-width: rem-calc(624);
    max-height: rem-calc(50);
    background: $white;
    height: 0;

    @include breakpoint(medium) {
      white-space: nowrap;
    }

    @include breakpoint(small only) {
      width: 100%;
    }

    &.active {
      display: flex;
      flex-direction: column;
      padding: 1rem 1.25rem;
      opacity: 1;
      overflow: visible;
      pointer-events: all;
      height: 100%;
      margin-top: 0.5rem;
      margin-bottom: 4.5rem;
    }
  }

  &__chevron {
    @include transition();
    @include square(0.75rem);
    margin-left: 0.5rem;
    margin-top: 2px;
  }

  &__checkbox {
    margin-right: 1rem; /* Add margin between checkboxes */
    margin-bottom: 0.75rem; /* Adjust margin-bottom if necessary */

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__input {
    position: relative;
    display: none;

    &:checked + .c-graveyard-sort__label::after {
      content: url("../../../icons/check-darkblue.svg");
      @include square(0.825rem);
    }

    &:disabled + .c-graveyard-sort__label::before {
      background: $black;
    }

    &:checked + .c-graveyard-sort__label::before {
      background: $white;
      border: 1px solid $white;
    }
  }

  &__label {
    color: $black;
    position: relative;
    cursor: pointer;
    padding-left: 2rem;
    font-size: rem-calc(16);
    font-weight: 400;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    min-height: 1.5rem;

    &::before {
      @include square(1.25rem);
      @include transition(background);
      position: absolute;
      background: $white;
      border: 1px solid $black;
      content: "";
      top: 0.125rem;
      left: 0;

      /* IE10 & IE11 */
      @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
        top: 3px;
      }
    }

    &::after {
      position: absolute;
      content: "";
      left: 4px;
      top: 2px;
    }
  }

  &__reset-title {
    color: $white;
    position: relative;
    cursor: pointer;
    padding-bottom: 2rem;
    font-size: rem-calc(16);
    font-weight: 600;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    min-height: 1.5rem;
  }

  &__icon {
    @include transition();
    @include square(1rem);
    margin-right: 0.5rem;
  }

  &__sort-label {
    font-size: 1rem;
    margin: 1rem 0;
    transform: translateY(1rem);

    @include breakpoint(medium down) {
      margin-top: 0;
    }
  }
}
