.c-graveyard-header {
  &__logo {
    padding-top: 1rem;

    @include breakpoint(small only) {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  &__logo img {
    width: 30%;
    height: auto;

    @include breakpoint(small only) {
      width: 80%;
    }

    @include breakpoint(medium only) {
      width: 40%;
    }
  }

  &__container {
    margin-bottom: 2.5rem;
  }

  &__banner {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__banner img {
    width: 100%;
    height: 30rem;
    object-fit: cover;

    @include breakpoint(small only) {
      height: 20rem;
    }
  }

  &__content-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: $white;
    max-width: 40rem;

    &--title {
      font-size: rem-calc(45);
      font-weight: bold;
      margin-bottom: 1rem;

      @include breakpoint(small only) {
        font-size: rem-calc(30);
      }
    }

    &--description {
      font-size: rem-calc(22.5);
      margin-bottom: 1rem;

      @include breakpoint(small only) {
        font-size: rem-calc(18);
      }
    }

    &--email {
      font-size: rem-calc(20);
      font-style: italic;

      @include breakpoint(small only) {
        font-size: rem-calc(16);
      }
    }
  }
}
