.c-modules-item {
  $root: &;

  &:hover {
    #{$root}__content-container {
      background: $white;
    }

    #{$root}__subtitle {
      color: $secondary-color;
    }

    #{$root}__title {
      color: $primary-color;
    }

    #{$root}__button {
      color: $black;
      fill: $black;
    }

    #{$root}__icon {
      transform: translateX(0.25rem);
    }
  }

  &__content-container {
    @include transition();
    padding: 2rem 1rem;
    background: $stichting-memento-mori-primary-color;

    @include breakpoint(medium) {
      padding: 2.5rem 2rem;
    }
  }

  &__subtitle {
    @include transition();
    color: $white;
    font-size: rem-calc(28);
    font-weight: 500;
    margin-bottom: 0.75rem;
    text-align: center;

    @include breakpoint(small only) {
      font-size: rem-calc(24);
    }
  }

  &__title {
    @include transition();
    color: $white;
    font-size: rem-calc(28);
    font-weight: 700;
    margin-bottom: 0.75rem;
    text-align: center;

    @include breakpoint(small only) {
      font-size: rem-calc(24);
    }

    &--big {
      @include transition();
      color: $white;
      font-size: rem-calc(38);
      font-weight: 700;
      margin-bottom: 0.75rem;
      text-align: center;

      @include breakpoint(small only) {
        font-size: rem-calc(34);
      }
    }

    &--round {
      margin: 0 auto;
      border-radius: 50%;
      width: 65px;
      height: 65px;
      line-height: 65px;
      font-size: 25px;
      font-weight: bold;
      border: 3px solid $white;
    }
  }

  &__description {
    @include transition();
    color: $black;
    font-size: rem-calc(14);
    font-weight: 500;
    line-height: 1.2;
    margin-bottom: 1rem;
    text-align: center;
  }

  &__show-more-container {
    margin-top: 2rem;
    div {
      text-align: left;
    }
  }

  .c-button {
    margin-top: 1rem;
    font-weight: 700;
  }

  &__icon {
    margin-left: 0.5rem;
  }
}
